#main{
    align-content: center;
    top: 50%;
    left: 50%;
    position: absolute;
}



#done{
    right:80%;
    margin-bottom: 2%;
    margin-left:84%;
    width: 14%;
}

.form-control{
    background-color: rgba(220, 220, 220, 0.308);
    width: 80%;
    margin-left: 4%;
    border: 0px;
}

label{
    margin-left: 4%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    font-weight: 600; 
}

h5{
    margin-top: 5%;
    position: relative;
   top: 29px;
    margin-left: 2%;
    font-weight: bold;
    font-size: 15px;
}


.modal-title{
    font-weight: bold;
    margin-left: 12%;
    position: relative;
    bottom: 20px;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}

p{
    margin-left: 1%;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 15px;
}

.input-group{
    margin-left: 8%;
}

#hand{
    height: 15px;
    margin-bottom: 4px;
    margin-left: 10%;
   
}

input[type="text"]::placeholder{
    font-size: 14px;
}


#Category{
    width: 300px;
}

#Description{
    height: 65px;
}

#dropdown{
    background-color: gainsboro;
}

#ticket{
    margin-right: 90px;
    position: relative;
    right: 10px;
}


#arrow{
    position: relative;
    top:12px;
    left: 4px;
    height: 35px;
}

.modal-header{
    height: 80px;
}